* 
{
  box-sizing: border-box;
}
html 
{
  font-family: 'Jost', sans-serif;
}
body 
{
  margin: 0;
  background-color: #101010;
}
header 
{
  box-shadow: 0 0 1rem #151515;
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #202020;
  color: white;
  text-align: center;
}
#assignment 
{
  box-shadow: 0 2px 8px rgba(30, 30, 30, 0.8);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}
#assignment h2 
{
  font-size: 2rem;
  border-bottom: 3px solid #CCCCCC;
  color: #CCCCCC;
  margin: 0 0 1rem 0;
}
#assignment ul 
{
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}
#assignment li 
{
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #CCCCCC;
  padding: 0.5rem;
  color: #1f1f1f;
  border-radius: 25px;
  transition: all 0.2s;
}
#assignment li:hover 
{
  cursor: pointer;
  background-color: rgba(244, 244, 244, 0.5);
  color: rgba(11, 11, 11, 0.5);
}
#assignment input 
{
  font: inherit;
  border: 1px solid #CCCCCC;
  background-color: #333333;
  margin-right: 1%;
  padding: 2px;
  color: #CCCCCC;
  border-radius: 5px;
}
#assignment input:focus 
{
  outline: none;
  border-color: #CCCCCC;
  background-color: #101010;
}
#assignment button 
{
  font: inherit;
  cursor: pointer;
  border: 1px solid #CCCCCC;
  background-color: transparent;
  color: #FFFFFF;
  padding: 2px 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  transition: all 0.2s ease-out;
}
#assignment button:last-of-type
{
  display: block;
  margin: 2% auto;
}
#assignment button:hover, #assignment button:active 
{
  background-color: #CCCCCC;
  color: #000000;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
